.block {
	color: #f00;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 20px;
}

body {
	font-family: sans-serif;
}

td,
th,
caption {
	border: 1.5px solid #000;
	padding: 2px 5px;
}

caption {
	font-weight: 700;
	font-size: 20px;
	border-bottom: none;
}
