.page {
	font-family: Index, sans-serif;
	font-weight: 400;
	color: var(--main-color);
}

.page__body {
	box-sizing: border-box;
}

.container {
	width: min(var(--container-width), 100% - var(--container-padding) * 2);
	margin-inline: auto;
}
