:root {
	/* font-family */
	--font-family: "Inter", sans-serif;
	--font-family-2: "ReadexPro";
	/* color */
	--main-color: #000000;
	--bg-color: #dbe5e2;
	--accent-color: #f8f9fa;
	--secondary-color: #000000, 25%;

	--container-width: 1294px;
	--container-padding: 73px;
}
