.hero {
	padding-top: 60px;
	padding-bottom: 75px;
}

.hero__background {
	border-radius: 32px;
	background-color: #dce5e2;
}

.hero__header {
	display: flex;
}

.hero__title {
	font-family: ReadexPro;
	font-weight: 400;
	font-style: Regular;
	font-size: 58px;
	line-height: 55px;
	letter-spacing: 0%;
}

.title {
	margin-top: 145px;
	margin-left: 56px;
	margin-bottom: 19px;
}
.hero__paragraph {
	font-family: Inter;
	font-weight: 400;
	font-style: Regular;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0%;
}

.text {
	margin-left: 56px;
	margin-bottom: 207px;
}

.hero__image-phones {
	align-self: flex-end;
}

.hero__img {
}
